/**
    ATTENTION

    Put Style on each  widget

    - put only global stying in this css file.
 */

.post .list article a > span {
    display:block;
    margin: 0.1em 0;
    padding:.2em;
    background-color: #f0f0f0;
}
