.post-comment {

}

.post-comment .reply form {

}


.show-on-click {
    display:none;
}

.post-comment .reply form [name='content'] {
    width:100%;
}


.post-comment .reply form [type='submit'] {
    margin:1em 0;
    padding:1em;
    width:100%;
}


.post-comment .list form [type='submit'] {
    margin:1em 0;
    padding:1em;
    width:100%;
}


.comment-reply-button {
    display:inline-block;
    padding:.4em .8em;
    background-color:#f9f9f9;
    border:1px solid #f0f0f0;
    cursor:pointer;
}





.post-comment .list form {
    display:none;
}

.post-comment .comment {
    margin:.4em 0;
    padding:.8em;
    background-color:white;
    border:1px solid #e3e3e3;
    border-radius: 2px;
}

.post-comment .comment:hover {
    border:1px solid #999999;
}



.comment-header span {
    display:inline-block;
    padding:0.2em 0.8em 0.2em 0;
}



.post-comment [depth='1'] {
    margin-left:3.6em;
}
.post-comment [depth='2'] {
    margin-left:7.2em;
}
.post-comment [depth='3'] {
    margin-left:9.2em;
}
.post-comment [depth='4'] {
    margin-left:11.2em;
}
.post-comment [depth='5'] {
    margin-left:13em;
}
.post-comment [depth='6'] {
    margin-left:14em;
}
.post-comment [depth='7'] {
    margin-left:15em;
}
.post-comment [depth='8'],
.post-comment [depth='9'],
.post-comment [depth='10'],
.post-comment [depth='11'],
.post-comment [depth='12'],
.post-comment [depth='13'],
.post-comment [depth='14'],
.post-comment [depth='15'],
.post-comment [depth='16'],
.post-comment [depth='17'],
.post-comment [depth='18'],
.post-comment [depth='19'],
.post-comment [depth='20'],
.post-comment [depth='21'],
.post-comment [depth='22']
{
    margin-left:16em;
}
