nav.navigation-bar {
    margin-top:.8em;
    text-align: center;
}
nav.navigation-bar a {
    display:inline-block;
    margin:0 .2em .8em;
    padding:.4em .7em .5em .7em;
    background-color: #d3e8f4;
    border-radius: 2px;
}
nav.navigation-bar .one-page{
	padding:.4em .7em .5em .7em;
	background-color:#d3e8f4;
}
nav.navigation-bar a.selected {
    background-color: #f0f0ff;
}
