{% if is_admin %}
    <a href="/post/admin/global"><div class="button">Global Configuration</div></a>
    <form>
        <input type="hidden" name="submit" value="config_create">
        Create a forum :
        <input type="text" name="name" value="">
        <input type="submit">
    </form>
{% endif %}

<div class="list">
    {% for config in data.configs %}
        <div class="row">
            {{ config.name.value }}
            {% if is_admin %}
                [<a href="/post/{{ config.name.value }}">LIST</a>]
                [<a href="/post/config/{{ config.name.value }}">Config</a>]
            {% endif %}
        </div>
    {% endfor %}
</div>