{% set config = data.post_global_config %}
<h1>ADMIN</h1>


<h2>Global Configuration</h2>

<form>
    <input type="hidden" name="mode" value="submit">
    <fieldset>
        <legend>Gloal Configuration Form</legend>
        <div>
            <div class="caption">Search</div>
            <div class="text">{{ data.search | raw }}</div>
        </div>

        {{ html.textarea({'name':'search_domain_group', 'id':'search_domain_group', 'class':'search_domain_group', 'value': config.search_domain_group, 'label':'Domain Group for search', 'placeholder':'Input search_domain_group'}) }}

        {{ html.input({'type':'text','name':'no_of_items_per_page', 'id':'no_of_items_per_page', 'class':'no_of_items_per_page', 'value': config.no_of_items_per_page, 'label':'No of items in list', 'placeholder':'Input no of items in list'}) }}
        {{ html.input({'type':'text','name':'no_of_pages_in_navigation_bar', 'id':'no_of_pages_in_navigation_bar', 'class':'no_of_pages_in_navigation_bar', 'value': config.no_of_pages_in_navigation_bar, 'label':'No of pages in navigator', 'placeholder':'Input No of pages in navigator'}) }}
        <input type="submit">
    </fieldset>
</form>


