{% if error %}
    <div class="error">
        {% for code,message in error %}
            <div class="row">
                <div class="message">Error ( {{ code }} ) : {{ message }}</div>
            </div>
        {% endfor%}
    </div>
{% endif %}