<div class="row data-set file-upload">
    <div class="caption">{{ ko ? '파일 업로드' : 'Attach Files' }}</div>
    <div class="text"><input type='file' name='files[]' multiple onchange="jQuery(this).parent().submit();"></div>
</div>