{% include dir_post_templates ~ '/elements/begin.html.twig' %}
    <form>
        <input type="hidden" name="submit" value="config_create">
        Create a forum :
        <input type="text" name="name" value="">
        <input type="submit">
    </form>

    {{ error_message | raw }}

    <div class="list">
        {% for config in data.configs %}
            <div class="row">
                {{ config.name.value }}
                [<a href="/post/{{ config.name.value }}">LIST</a>]
                [<a href="/post/config/{{ config.name.value }}">Config</a>]
            </div>
        {% endfor %}
    </div>
{% include dir_post_templates ~ '/elements/end.html.twig' %}