<div class="post index">
    <form>
        <input type="hidden" name="submit" value="config_create">
        Create a forum :
        <input type="text" name="name" value="">
        <input type="submit">
    </form>

    {% include 'modules/post/templates/error.html.twig' %}
    <div class="list">


        {% for config in data.configs %}
            <div class="row">
                {{ config.name.value }}
                [<a href="/post/{{ config.name.value }}">LIST</a>]
                [<a href="/post/config/{{ config.name.value }}">Config</a>]
            </div>
        {% endfor %}
    </div>
</div>