<section class="post">
    <div class="{{ data.page }}">
        {% if data.page %}
            {% if error %}
                {% include dir_post_elements ~ '/error.html.twig' %}
            {% else %}
                {% include dir_post_templates ~ '/layouts/post.' ~ data.page ~ '.html.twig' %}
            {% endif %}
        {% else %}
            {{ ko ? '잘못된 접근 : 페이지 값이 없습니다.' : 'Wrong access : No page code.' }}
        {% endif %}
    </div>
</section>