{% import dir_macro ~ '/html.html.twig' as html %}
<section class="post">
    <div class="{{ data.page }}">
        {% if data.page %}
            {{ html.error(data) }}
            {% include dir_post_templates ~ '/layouts/post.' ~ data.page ~ '.html.twig' %}
        {% else %}
            {{ ko ? '잘못된 접근 : 페이지 값이 없습니다.' : 'Wrong access : No page code.' }}
        {% endif %}
    </div>
</section>