/*temp*/
#contentEditor{
	/*display:none;*/
}
/*eo temp*/

section.view-item{
	margin-bottom:5px;
	border-bottom:1px solid #c2c2c2;
}

section.view-item.post{	
	border-top-left-radius:2px;
	border-top-right-radius:2px;	
}

section.view-item section[role='header']{
	padding:0 10px;
	background-color:#353535;
	color:#fff;
}

section.view-item section[role='header'] .date{
	display:inline-block;
	padding:8px 0;
}

section.view-item section[role='header'] > div .button{
	position:relative;
	padding:8px 0 8px 23px;
	margin:0 0 0 10px;	
	background-color:transparent;	
	color:#fff;
}

section.view-item section[role='header'] > div .button:hover{
	color:aqua;
}

section.view-item section[role='header'] > div .button > img{
	position:absolute;	
	left:0;
	top:6px;
}

section.view-item table td.td-user-info{
	border-right:1px solid #c2c2c2;
	background-color:#f3f8f9;
}

section.view-item .user-info{
	/*min-height:242px;*/
	padding:10px 5px;
	border-bottom:1px solid #a9a9a9;
	background-color:#f3f8f9;
	color:#2e2e2e;	
}

section.view-item .user-info .author{
	margin:5px 0;
	font-size:1.2em;
	font-weight:bold;
	/*text-align:center;*/
}

section.view-item .user-info .photo{
	float:left;
	margin-bottom:10px;
}
 
section.view-item .user-info .photo img{
	display: block;
	width: 62px;
	margin: auto;
	/* border: 1px solid #b0b0b0; */
	border-radius: 2px;
}

section.view-item .user-info .info-wrapper{
	overflow:hidden;
	padding-left:10px;
}

section.view-item .user-info .info-wrapper > div{
	float:left;
}

section.view-item .user-info .info-wrapper > div.left{	
	width:65%;
}

section.view-item .user-info .info-wrapper > div.right{	
	width:35%;
}

section.view-item .user-info .info{
	overflow:hidden;
	/*width:160px;*/
	margin:0 auto 5px auto;
}

section.view-item .user-info .info table tr td{
	padding:2px 0;
}

section.view-item .user-info .info table tr td:first-child{
	font-weight:bold;
	color:#ab1212;	
}

section.view-item .title{
	padding:10px 5px;
	margin:0 10px 5px 10px;	
	border-bottom:1px solid #a9a9a9;
	font-size:1.2em;
	font-weight:bold;
	color:#2e2e2e;
}

section.view-item .content, section.view-item .comment-content{	
	padding:0 10px 10px 10px;		
}

section.view-item .send-message{
	/*text-align:center;*/
}

section.view-item .send-message img{
	margin-right:5px;
}

section.view-item section[role='footer']{
	border-top:1px solid #c2c2c2;
	background-color:#f2f2f2;
}

section.view-item section[role='footer']{	
	border-top:1px solid #c2c2c2;
	background-color:#f2f2f2;
	text-align:right;
}

section.view-item section[role='footer'] a span, section.view-item section[role='footer'] .button{
	padding:.5em .8em .6em .8em;
	margin-right:-4px;
	background-color:#f2f2f2;
	border-left:1px solid #c2c2c2;
	border-radius:0;
	color:#2e2e2e;	
}

section.view-item section[role='footer'] .button .text{
	position:relative;
	top:-1px;
	font-size:.8em;
	font-weight:bold;
}

section.view-item section[role='footer'] .button.good .text{
	color:blue;
}

section.view-item section[role='footer'] .button.bad .text{
	color:red;
}

section.view-item section[role='footer'] span.button:hover{
	/*color:blue;*/
}

section.view-item section[role='footer'] > span.button:last-child{
	margin-right:0;
}

section.view-item section[role='footer'] > span.button:hover{
	background-color:#fff;
}

/*reply*/
.reply form textarea{
	resize:none;
}

.reply form input[type='submit']{
	width: 100%;
	margin: 1em 0;
	padding: 1em;
	
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4a4a4a+0,1a1a1a+100 */
	background: #4a4a4a; /* Old browsers */
	background: -moz-linear-gradient(top,  #4a4a4a 0%, #1a1a1a 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#4a4a4a), color-stop(100%,#1a1a1a)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #4a4a4a 0%,#1a1a1a 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #4a4a4a 0%,#1a1a1a 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #4a4a4a 0%,#1a1a1a 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #4a4a4a 0%,#1a1a1a 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4a4a4a', endColorstr='#1a1a1a',GradientType=0 ); /* IE6-9 */

	
	border: 0;
	border-radius: 2px;
	color: #fff;
}

.post-comment .reply form{
	display:none;
}

.post-comment .reply.original form{
	display:block;
}
/*eo reply*/

/*post-comment*/
.post-comment form.comment-reply input[type='submit']{
	display:block;
}
/*eo post-comment*/

section.view-item section[role='header'] > .left{
	float:left;
}

section.view-item section[role='header'] > .right{
	float:right;
}

@media all and (min-width: 400px) {
	section.view-item section[role='header'] > div{

	}
}